<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="set-page-height mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
                <div class="mdl-card__supporting-text">
                  <h3>The World have Consumed</h3>
                </div>
                <div class="cal-show" > 870</div>
                <h1 class="cal-show-foot">Cal Today</h1>
          </div>
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="set-page-height mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">

              <div class="set-card-padding mdl-card__title mdl-card--expand ">
                <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                     <main class="mdl-layout__content">
                        <div class="mdl-tabs mdl-js-tabs">
                           <div class="mdl-tabs__tab-bar">
                              <a href="#tab1-panel" class="mdl-tabs__tab is-active">Top 25</a>
                              <a href="#tab2-panel" class="mdl-tabs__tab">Less 25</a>
                           </div>
                           <div class=" mdl-tabs__panel is-active" id="tab1-panel">
                             <table class=" center mdl-data-table mdl-js-data-table set-table-outline " >
                              <thead>
                                <tr><th class="mdl-data-table__cell--non-numeric">Photo</th><th>Food</th><th>Rank</th></tr>
                              </thead>
                              <tbody class="table_text">
                                <tr ><td class="mdl-data-table__cell--non-numeric "><img src="http://icons.iconarchive.com/icons/sonya/swarm/256/Fast-Food-icon.png" alt=""height=40 width=40></img></td><td>Apple<br><span class="tag-show">1234 tags </span></td><td>#1</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="http://icons.iconarchive.com/icons/sonya/swarm/256/Fast-Food-icon.png" alt=""height=40 width=40></img></td><td>Cheese Cake<br><span class="tag-show">1114 tags </span></td><td>#2</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="http://pngimg.com/upload/orange_PNG791.png" alt=""height=40 width=40></img></td><td>Orange<br><span class="tag-show">1100 tags </span></td><td>#3</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="http://67.media.tumblr.com/ae0440f14193d9b841168aac6370a0bf/tumblr_mmljurAv661ryt4lgo1_500.png" alt=""height=40 width=40></img></td><td>Pine Apple<br><span class="tag-show">900 tags </span></td><td>#4</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chocolate(bgFFF).jpg/250px-Chocolate(bgFFF).jpg" alt=""height=40 width=40></img></td><td>Chocolate<br><span class="tag-show">804 tags </span></td><td>#5</td></tr>
                              </tbody>
                              </table>
                              <div class="mdl-card__actions mdl-card--border learn_more">
                                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Learn More</button>
                              </div>
                           </div>
                           <div class="mdl-tabs__panel" id="tab2-panel">
                             <table class=" center mdl-data-table mdl-js-data-table set-table-outline " >
                              <thead>
                                <tr><th class="mdl-data-table__cell--non-numeric">Photo</th><th>Food</th><th>Rank</th></tr>
                              </thead>
                              <tbody class="table_text">
                                <tr ><td class="mdl-data-table__cell--non-numeric "><img src="http://www.clipartlord.com/wp-content/uploads/2014/12/onion6.png" alt=""height=40 width=40></img></td><td>Onion<br><span class="tag-show">134 tags </span></td><td>#1</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="http://www.seriouseats.com/images/2016/01/20160106-beans-vicky-wasik-1.jpg" alt=""height=40 width=40></img></td><td>Beans<br><span class="tag-show">204 tags </span></td><td>#2</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="http://www.newlife101.com.tw/uploads/image/art_wpqyf2wnp8.jpg" alt=""height=40 width=40></img></td><td>Sweet Patato Leaves<br><span class="tag-show">240 tags </span></td><td>#3</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="http://67.media.tumblr.com/ae0440f14193d9b841168aac6370a0bf/tumblr_mmljurAv661ryt4lgo1_500.png" alt=""height=40 width=40></img></td><td>Pine Apple<br><span class="tag-show">900 tags </span></td><td>#4</td></tr>
                                <tr><td class="mdl-data-table__cell--non-numeric "><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Chocolate(bgFFF).jpg/250px-Chocolate(bgFFF).jpg" alt=""height=40 width=40></img></td><td>Chocolate<br><span class="tag-show">804 tags </span></td><td>#5</td></tr>
                              </tbody>
                              </table>
                              <div class="mdl-card__actions mdl-card--border learn_more">
                                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Learn More</button>
                              </div>
                         </div>
                   </main>
              </div>

            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../../material.min.js"></script>
  </body>
</html>
