---
development:
  WORLDCA_API: 'http://localhost:9292/api/v0.1'
  SECRET: 'some secret'
  FOOD_APP_ID: 'some secret'
  FOOD_APP_SECRET: 'some secret'

test:
  WORLDCA_API: 'http://localhost:9292/api/v0.1'
  SECRET: 'some secret'
  FOOD_APP_ID: 'some secret'
  FOOD_APP_SECRET: 'some secret'

production:
  WORLDCA_API: 'https://my-server.com/api/v0.1'
  SECRET: 'some secret'
  FOOD_APP_ID: 'some secret'
  FOOD_APP_SECRET: 'some secret'
